.browser-page #browser-page-form {
    padding: 20px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #CCC;
}
.browser-page #browser-page-form .form-group {
    margin-bottom: 0;
}
.browser-page a[data-target] {
    cursor: pointer;
}
.browser-page ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.browser-page .panel {
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.browser-page .panel-heading {
    background-color: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}
