<div class="entity-partial">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div data-bind="click: $root.showPayload.bind($root), clickBubble: false" title="Entity JSON payload" 
                 class="code-payload btn btn-xs btn-default">
                <i class="fa fa-code"></i>
            </div>
            <h3 class="panel-title">
                <a data-toggle="collapse" data-bind="attr: { 'data-target': '#ent-props-' + id }">
                    Properties
                </a>
            </h3>
        </div>
        <div data-bind="attr: { id: 'ent-props-' + id }" class="panel-collapse collapse in">
            <div class="panel-body">
                <div class="form-horizontal">
                    <div data-bind="visible: rels.length > 0" class="form-group">
                        <label class="col-sm-1 control-label">rel:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" data-bind="value: rels.join(', ')" readonly>
                        </div>
                    </div>
                    <div data-bind="visible: classes.length > 0" class="form-group">
                        <label class="col-sm-1 control-label">class:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" data-bind="value: classes.join(', ')" readonly>
                        </div>
                    </div>
                    <div data-bind="visible: title" class="form-group">
                        <label class="col-sm-1 control-label">title:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" data-bind="value: title" readonly>
                        </div>
                    </div>
                    <div data-bind="visible: type" class="form-group">
                        <label class="col-sm-1 control-label">type:</label>
                        <div class="col-sm-11">
                            <input type="text" class="form-control" data-bind="value: type" readonly>
                        </div>
                    </div>
                </div>
                <pre data-bind="text: $data.jsonProps()"></pre>
            </div>
        </div>
    </div>
    <!-- ko if: entities.length > 0 -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a data-toggle="collapse" data-bind="attr: { 'data-target': '#ent-ents-' + id }">
                        Entities <span data-bind="text: entities.length" class="badge"></span>
                    </a>
                </h3>
            </div>
            <div data-bind="attr: { id: 'ent-ents-' + id }" class="panel-collapse collapse in">
                <div class="panel-body">
                    <div class="list-group" data-bind="foreach: entities">
                        <!-- ko if: isSubEntity() -->
                            <!-- ko compose: 'partials/subentity.html' --><!-- /ko -->
                        <!-- /ko -->
                        <!-- ko ifnot: isSubEntity() -->
                            <div class="list-group-item">
                                <!-- ko compose: 'partials/entity.html' --><!-- /ko -->
                            </div>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
    <!-- /ko -->
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default" style="margin-bottom: 0">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-bind="attr: { 'data-target': '#ent-actions-' + id }">
                            Actions <span data-bind="text: actions.length" class="badge"></span>
                        </a>
                    </h3>
                </div>
                <div data-bind="attr: { id: 'ent-actions-' + id }" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="list-group" data-bind="foreach: actions" style="margin-bottom: 0">
                            <a href="#" data-bind="click: $root.actionForm.bind($root)" class="link list-group-item">
                                <div data-bind="click: $root.showPayload.bind($root), clickBubble: false" title="Action JSON payload"
                                     class="code-payload btn btn-xs btn-default">
                                    <i class="fa fa-code"></i>
                                </div>
                                <h4 class="list-group-item-heading" data-bind="text: name"></h4>
                                <p class="list-group-item-text" data-bind="visible: title, text: title"></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" style="margin-bottom: 0">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <a data-toggle="collapse" data-bind="attr: { 'data-target': '#ent-links-' + id }">
                            Links <span data-bind="text: links.length" class="badge"></span>
                        </a>
                    </h3>
                </div>
                <div data-bind="attr: { id: 'ent-links-' + id }" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div class="list-group" data-bind="foreach: links" style="margin-bottom: 0">
                            <a href="#" data-bind="attr: { href: $root.parent.getURL(href) }" class="link list-group-item">
                                <div data-bind="click: $root.showPayload.bind($root), clickBubble: false" title="Link JSON Payload"
                                     class="code-payload btn btn-xs btn-default">
                                    <i class="fa fa-code"></i>
                                </div>
                                <h4 class="list-group-item-heading" data-bind="text: rels.join(', ')"></h4>
                                <p class="list-group-item-text" data-bind="text: title || '&nbsp;'"></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
